/* ------------------------------- */
/* -- obsidian-image-from-field -- */
/* ------------------------------- */
/* GitHub: https://github.dev/jparkerweb/obsidian-image-from-field */

/* - alignment classes -*/
.oiff--left { text-align: left; }
.oiff--center { text-align: center; }
.oiff--right { text-align: right; }
